@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0000000e;
}

::-webkit-scrollbar-thumb {
  background: #626262;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  cursor: pointer;
}

/* Scroll Box Animations */
.scroll-box {
  transition: all 0.4s ease-in-out;
}

.expand {
  opacity: 1;
  transform: scale(1);
}

.shrink {
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
}

.hidden {
  opacity: 0;
  transform: scale(0.7);
  transform: translateY(20px);
  transition: all 0.4s ease-in-out;
}
